<div class="header-wrapper">
    <div class="partner-container logo-container">
        <span class="aria-texts">{{partner-alt-text}}</span>
        <div class="partner-logo logo" aria-hidden="true"></div>
    </div>
    <div class="header-logo-container logo-container">
        <span class="aria-texts">{{header-ubs-alt-text}}</span>
        <div class="header-ubs-logo logo" aria-hidden="true"></div>
    </div>
</div>