<div class="footer-wrapper">
    <div class="contact-us-container">
        <div class="contact-number-container contact-detail">
            <span class="contact-icon icon" aria-hidden="true"></span>
            <span class="contact-label label">{{contact}}</span>
        </div>
        <div class="mail-container contact-detail">
            <span class="mail-icon icon" aria-hidden="true"></span>
            <span class="mail-label label">
                <a href="http://www.ubsforums.com/">{{mail}}</a>
            </span>
        </div>
    </div>
    <div class="about-us-container">
        <div class="about-us-wrapper">{{{about-us}}}</div>
    </div>
    <div class="social-container">
        <div class="footer-logo-container">
            <div class="footer-logo"></div>
        </div>
        <div class="social-link-container">
            <span class="link linkedin"></span>
            <span class="link facebook"></span>
            <span class="link twitter"></span>
        </div>
    </div>
</div>